name: Build Spring Boot JAR

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package

    - name: Upload JAR
      uses: actions/upload-artifact@v3
      with:
        name: springboot-jar
        path: target/*.jar
